# ======================================
# ARCHIVOS SENSIBLES
# ======================================

# Variables de entorno
.env
*.env
token.env

# ======================================
# PYTHON
# ======================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================================
# ENTORNOS VIRTUALES
# ======================================
venv/
.env/
.venv/

# ======================================
# VS CODE
# ======================================
.vscode/
